body {
  background: #fff;
}

.wrapper {
}

.container {
  max-width: $width-s;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  min-height: calc(100vh - 290px);
}

.section {
  padding: 20px 0 2rem 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid $main-color;

  &.no-border {
    border: none;
  }
  
  &__title {
    @extend %weight-font-style;
    font-size: 18px;
    letter-spacing: 0.05rem;
    color: #ccc;
    margin-bottom: 2rem;
  }

  &__content {
    margin-bottom: 2.5rem;

    .title {
      @extend %weight-font-style;
      display: block;
      margin-bottom: 1rem;
      color: #000;
      font-size: 20px;
      letter-spacing: 0rem;

      a {
        padding: 2px 10px;
        background: $main-color;
        color: #fff;
        display: inline-block;
        font-weight: normal;
        margin-left: 10px;
        font-size: 14px;

        &:hover {
          background: #000;
        }
      }
    }

    .summary {
      font-size: 15px;
      margin-bottom: 2rem;
    }

    .info {
      & + .info {
        margin-top: 1rem;
      }

      h5 {
        margin-bottom: 0.8rem;
        padding: 2px 10px;
        background: #999;
        font-size: 13px;
        color: #fff;
        display: inline-block;
        font-weight: normal;
      }

      li {
        margin-bottom: 0.3rem;
        font-size: 14px;
        color: #666;
      }
    }
  }
}



/* ----- RWD ---- */
@include mq('tablet-s') {
  .header {
    text-align: center;
  }

  .wrapper {
    padding-top: 80px;
  }

  .container {
    padding: 20px 15px;
  }
}

