body {
}

.wrapper {
  padding: 0 20px;
}


.ant-switch {
  position: fixed;
  right: 20px;
  top: 20px;
  background-color: #999;
  z-index:30;

  &-checked {
    background-color: #333;
  }
}

.container {
  max-width: $width-s;
  margin: 0 auto;
  padding: 30px 0;
  min-height: calc(100vh - 290px);
}

/* ----- RWD ---- */
@include mq('desktop') {
  
}

